<ng-container *ngIf="{} as cmpObj" class="h-screen">
  <p-menubar [model]="items">
    <ng-template #start>
      <img src="logo.svg" alt="" class="w-7 h-7 bg-white" />
      <span class="ml-2 text-xl font-bold text-white-800">AnnotAIx</span>
    </ng-template>

    <ng-template #end>
      <div class="flex items-center gap-2">
        <p-button [outlined]="true" severity="secondary" (click)="showDialog()">
          <i class="pi pi-spin pi-cog" style="font-size: 0.9rem"></i>
        </p-button>
      </div>
    </ng-template>
  </p-menubar>

  <p-splitter
    [style]="{ height: '90vh' }"
    [panelSizes]="[50, 50]"
    [minSizes]="[40, 40]"
    styleClass="mb-8"
  >
    <ng-template pTemplate>
      <app-photo-container class="w-full h-full"></app-photo-container>
    </ng-template>
    <ng-template pTemplate>
      <p-splitter layout="vertical" [panelSizes]="[80, 20]">
        <ng-template pTemplate>
          <app-main-chat class="w-full"></app-main-chat>
        </ng-template>
        <ng-template pTemplate>
          <app-user-input class="w-[95%]"></app-user-input>
        </ng-template>
      </p-splitter>
    </ng-template>
  </p-splitter>
</ng-container>
<app-system-settings></app-system-settings>
