<ng-container
  *ngIf="{
    messages: messages$ | async,
  } as cmpObj"
>
  <div style="flex-grow: 1" class="flex items-center justify-center">
    <div
      #scrollContainer
      class="flex flex-col h-full gap-4 w-full p-3 overflow-y-auto max-h-[65vh]"
      (scroll)="onScroll()"
      *ngIf="cmpObj.messages; else loadingContainer"
    >
      <ng-container *ngFor="let message of cmpObj.messages">
        <ng-container *ngIf="message.sender === 'LLM'">
          <app-llm-response
            [llmResponse]="message.content"
            [setLoading]="message.loading"
          ></app-llm-response>
        </ng-container>
        <ng-container *ngIf="message.sender === 'User'">
          <app-user-response
            [userResponse]="message.content"
          ></app-user-response>
        </ng-container>
      </ng-container>
    </div>
  </div>
</ng-container>

<ng-template #loadingContainer>
  <p-progress-spinner ariaLabel="loading" />
</ng-template>
