<ng-container
  *ngIf="{
    llmResponse: llmResponse,
    setLoading: setLoading,
    avatarTitle: avatarTitle,
  } as cmpObj"
>
  <!-- Check if loading is false -->
  <ng-container *ngIf="!cmpObj.setLoading; else skeleton">
    <p-fieldset class="w-full">
      <ng-template #header>
        <div class="w-full flex">
          <p-avatar image="logo.svg" shape="circle"></p-avatar>
          <span class="ml-2 font-bold">{{ cmpObj.avatarTitle }}</span>
        </div>
      </ng-template>
      <p class="m-0">
        {{ cmpObj.llmResponse }}
      </p>
    </p-fieldset>
  </ng-container>

  <!-- Skeleton template for loading state -->
  <ng-template #skeleton>
    <p-fieldset class="w-full">
      <ng-template #header>
        <div class="w-full flex">
          <p-avatar class="pi-spin" image="logo.svg" shape="circle"></p-avatar>
          <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
        </div>
      </ng-template>
      <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
    </p-fieldset>
  </ng-template>
</ng-container>
